.spot-container {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    border-radius: 8px;
    width: 250px;
    height: 300px;
}

.btn-delete-edit-container {
    display: flex;
    flex-direction: row;
}

.review-container {
    display: flex;
    flex-direction: column;
}

.review-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.back-edit-delete-btn-container {
    display: flex;
    flex-direction: row;
}

.write-review-modal {
    cursor: pointer;
    border: 1px solid blue;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.review-body {
    list-style: none;
   
}

.edit-delete-review-btn-container {
    display: flex;
    flex-direction: row;
}
