.spot-container {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    border-radius: 8px;
    width: 250px;
    height: 300px;
}

.btn-delete-edit-container {
    display: flex;
    flex-direction: row;
}

.review-container {
    display: flex;
    flex-direction: column;
}

.review-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
