/* Site wide styles */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
}

h2 {
    margin: 0;
}

.margin-top-10 {
    margin-top: 10px;
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#modal-content {
    width: 500px;
    border-radius: 15px;
    overflow: hidden;
    padding: 25px;
}

#modal-content .title {
    margin-top: 0
}

.btn {
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

.btn-openmodal {
    border: none;
    padding: 0;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

.btn-openmodal>li {
    padding: 10px 25px;
}

.btn:hover,
.btn-openmodal:hover {
    filter: brightness(90%);
}

.btn-primary {
    background-color: #FF385C;
}

.btn-blue {
    background-color: rgb(131, 186, 221)
}

.btn-white {
    background-color: #fefefe;
    color: #333;
    border: 1px solid #333;
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.error-container {
    color: red;
}

.spot-details-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.fa-star {
    color: #f4d300
}

.spot-container {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    border-radius: 8px;
    width: 290px;
    height: 300px;
}
